@charset "utf-8";
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button { margin:0; padding:0; }
fieldset,img { border:0 none; font-family: 'Kanit', sans-serif;}
dl,ul,ol,menu,li { list-style:none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,q:before, q:after { content:''; content:none;}
input,select,textarea,button { vertical-align:middle; }
input::-ms-clear { display:none; }
button { border:0 none; background-color:transparent; cursor:pointer; }
a { text-decoration:none; }
/* #f7a600 orange// #1b3e67 blue */


body {
  font-family: 'Kanit', sans-serif;
  background: #fff;
  color: #736F6E;
  margin: 0 auto;

}

/*////////////////////////////////////Menu////////////////////////////////////*/
header {
  background-color: #fff;
  min-height: 90px;
  overflow: hidden;

}
.head-content {
  max-width: 1024px;
  margin: auto;
  margin-top: 0px;
  position: relative;
}
.logo {
  text-transform: uppercase;
  float: left;
  display: inline-block;
  margin-top: 20px;
  width: 100px;
  position: absolute;
}
.logo .svg-logo path {
  stroke: #F00;
}
.logo:hover > .svg-logo path {
  stroke: yellow;
  transition: all 2s;
}
.header-navigation nav {
  float: right;
  width: 100%;
  display: block;
  margin: auto 0;
  margin-top: 32px;
}
.header-navigation nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
  margin-top: 7px;
}
.header-navigation nav ul .current_page_item a {
  color: green;
}
.header-navigation nav ul li {
  display: inline-block;
  margin: 0px 10px 0px 15px;
  line-height: 1.5;
}
.header-navigation nav ul li a {
  font-family: 'Kanit', sans-serif;
  color: black;
  font-size: 20px;
  font-weight: lighter;
  text-transform: uppercase;
  text-decoration: none;
}
.header-navigation nav ul li a:hover {
  color: #f68f1e;
  transition: color 0.5s;
}
.header-navigation nav ul li a.active {
  color: #9bca42;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.sticky {
  opacity: 1;
  top: 0px;
}
.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 35px;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #9bca42;
  display: block;
}
.mobile-toggle:hover > span {
  background-color: #f68f1e;
  transition: 1s;
}
.close-about-section {
  display: none;
  text-align: center;
  margin: 10px;
}
.close-about-section .svg-close {
  z-index: 1;
  fill: #9bca42;
  height: 50px;
  width: 40px;
  cursor: pointer;
}
.close-about-section .svg-close:hover {
  fill: #f68f1e;
  transition: all 1s;
}
/*---------------------MEDIA---------------------*/
@media only screen and (min-width: 640px) {
  .header-navigation {
    display: block !important;
  }
  .close-about-section {
    display: none !important;
  }
  .logo{
    margin-left: 10px;
  }
}
@media screen and (max-width: 640px) {
  .logo{
    margin-left: 10px;
  }
  .mobile-toggle {
    display: block;
  }
  .header-navigation nav {
    width: 100%;
  }
  .header-navigation nav ul {
    text-align: center;
    width: 100%;
    margin-bottom: 22px;
    padding: 20px 0px 0px;
    margin-right: 0px;
  }
  .header-navigation nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
  .header-navigation nav ul li a {
    font-size: 16px;
  }
  .responsive-header {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(244, 244, 244, 0.95) none repeat scroll 0% 0%;
  }
  .header-navigation-center {
    left: 50%;
    top: 50%;
    width: 80%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
/*////////////////////////////////////END Menu////////////////////////////////////*/

.line {
  height:2px;
  background: #9bca42;
}


/*////////////////////////////////////Bar////////////////////////////////////*/
.menu-tab {
  font-family: 'Kanit', sans-serif;
  width: 100%;
  max-width: 1024px;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

.tablist {
  position: relative;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: table;
  width: 100%;
  max-width: 1024px;
  height: auto;
}

.tab {
  font-family: 'Kanit', sans-serif;
  font-weight: normal;
  position: relative;
  background-color: #eee;
  display: table-cell;
  margin-right: -4px;
  text-transform: uppercase;
  text-align: center;
  transform: background-color 1s;
  border-left: solid 1px #ddd;
  border-top: solid 1px #ddd;
}

.tab:last-child {
  border-right: solid 1px #ddd;
}

.tab a {
  position: relative;
  display: block;
  padding: 15px 20px;
  color: #666;
  text-decoration: none;
  z-index: 1;
}

.tab:after {
  content: '';
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: #fff;
  border-top: solid 5px transparent;
  transition: top .2s;
}

.tab-active:after {
  top: -1px;
}

.tab-active:first-child:after {
  border-top-color: #9bca42;
}

.tab-active:nth-child(2):after {
   border-top-color: #f7a600;
}

.tab-active:nth-child(3):after {
   border-top-color: #00ceee;
}

.tabpanel {
  display: none;
  background: #fff;
  max-width: 960px;
  width: 100%;
  margin: 30px auto;
}

.tabpanel.show {
  display: block;
}

.tabpanel h1 {
  margin: 0 0 .3em;
  font-family: 'Kanit', sans-serif;
}

.tabpanel p {
  margin: 0 0 1.5em;
  font-family: 'Kanit', sans-serif;
}

#panel1 h1 {
  color: #9bca42;
  font-family: 'Kanit', sans-serif;
}

#panel2 h1 {
  color: #f7a600;
  font-family: 'Kanit', sans-serif;
}

#panel3 h1 {
  color: #00ceee;
}

.tab-menu {
  display: none;
}

@media (max-width: 600px) {
  .tab {
    display: block;
    display: none;
    margin: 0;
    border: none;
  }

  .tab:after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .tab-active {
    display: block;
    top: 0;
  }

  .tab a {
    border-bottom: solid 1px #ddd;
  }

  .tab-menu {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -12px;
    width: 24px;
    height: 22px;
  }

  .tab-menu .line {
    height: 4px;
    background-color: #333;
    border-radius: 2px;
    margin-bottom: 4px;
  }
}

.menu-tab {
  width: 100%;
  max-width: 1024px;
  margin: 30px auto;
}
/*////////////////////////////////////END Bar////////////////////////////////////*/

/*////////////////////////////////////Images////////////////////////////////////*/

.container {
  font-family: 'Kanit', sans-serif;
  margin: 10px 10px;
  width: 220px;
  height: 220px;
  text-align: center;
  color: #000;
  position: relative;
  float: left;
}

.container .image {
  opacity: 1;
  display: block;
  width: 220px;
  height: 220px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  color: #000;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 36%;
  transform: translate(-30%, -30%);
  -ms-transform: translate(-30%, -30%)
  font-family: 'Kanit', sans-serif;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.button {
  font-family: 'Kanit', sans-serif;
    background-color: #fff; /* Green */
    border: none;
    color: #9bca42;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 40px;
    width: 100px;
    border: 2px solid #9bca42;
    margin-top: 10px;
}


/*.button1:hover {
    margin-top: 10px;
    background-color: #9bca42;
    color: white;
}*/

/*////////////////////////////////////END Images////////////////////////////////////*/

footer {
width: 100%;
/* max-width: 1024px; */
height: 130px;
margin: 20px auto 0 auto;;
float: left;
font-family: 'Kanit', sans-serif;
}
.contact {
  width: 1024px;
  margin: 0 auto 20px auto;;
  height: 160px;
  font-family: 'Kanit', sans-serif;
}
.boxleft {
  width: 492px;
  margin: 20px 20px 10px 0;
  float: left;
  height: 140px;
  font-weight: lighter;
  font-size: 13px;
  color: #736F6E;
}

.boxright {
  width: 492px;
  margin: 20px 0 10px 20px;
  float: left;
  height: 140px;
  font-weight: lighter;
  font-size: 18px;
  color: #736F6E;
}

.boxright a {
  color: #736F6E;
  font-size: 24px
}

.boxlogo {
  height: 50px;
  margin: 0 0 10px 20px;
  float: left;

}

.boxdetail {
  width: 422px;
  height: 80px;
  margin-left: 20px;
  float: left;
}

.boxright a:hover {
  color: #9bca42;
  font-size: 24px
}

/*=========================================*/

.cart {
  padding: 1em 0;
  font-family: 'Kanit', sans-serif;
}
.cart .items {
  display: block;
  /*width: 100%;*/
  vertical-align: middle;
  padding: 1.5em;
  border-bottom: 1px solid #fafafa;
}
.cart .items .even {
  background: #fafafa;
  margin: 20px 0;
}
.cart .items .infoWrap {
  display: table;
  width: 100%;
}
.cart .items .cartSection {
  display: table-cell;
  vertical-align: middle;
}
.cart .items .cartSection .itemNumber {
  font-size: .75em;
  color: #777;
  margin-bottom: .5em;
}
.cart .items .cartSection h3 {
  font-size: 1em;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .025em;
}
.cart .items .cartSection p {
  display: inline-block;
  font-size: .85em;
  color: #777777;
  font-family: 'Kanit', sans-serif;
}
.cart .items .cartSection p .quantity {
  font-weight: bold;
  color: #333;
}
.cart .items .cartSection p.stockStatus {
  color: ;
  font-weight: bold;
  padding: .5em 0 0 1em;
  text-transform: uppercase;
}
.cart .items .cartSection p.stockStatus.out {
  color: #f7a600;
}
.cart .items .cartSection .itemImg {
  width: 4em;
  float: left;
}
.cart .items .cartSection.qtyWrap, .cart .items .cartSection.prodTotal {
  text-align: center;
}
.cart .items .cartSection.qtyWrap p, .cart .items .cartSection.prodTotal p {
  font-weight: bold;
  font-size: 1.25em;
}
.cart .items .cartSection input.qty {
  width: 2em;
  text-align: center;
  font-size: 1em;
  padding: .25em;
  margin: 1em .5em 0 0;
}
.cart .items .cartSection .itemImg {
  width: 8em;
  display: inline;
  padding-right: 1em;
}

.special {
  display: block;
  font-family: 'Kanit', sans-serif;
}
.special .specialContent {
  padding: 1em 1em 0;
  display: block;
  margin-top: .5em;
  border-top: 1px solid #dadada;
}
.special .specialContent:before {
  content: "\21b3";
  font-size: 1.5em;
  margin-right: 1em;
  color: #6f6f6f;
  font-family: helvetica, arial, sans-serif;
}

a.remove {
  text-decoration: none;
font-family: 'Kanit', sans-serif;
  color: #ffffff;
  font-weight: bold;
  background: #e0e0e0;
  padding: .5em;
  font-size: .75em;
  display: inline-block;
  border-radius: 100%;
  line-height: .85;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
a.remove:hover {
  background: #f30;
}

.promoCode {
  border: 2px solid #efefef;
  float: left;
  width: 35%;
  padding: 2%;
}
.promoCode label {
  display: block;
  width: 100%;
  font-style: italic;
  font-size: 1.15em;
  margin-bottom: .5em;
  letter-spacing: -.025em;
}
.promoCode input {
  width: 85%;
  font-size: 1em;
  padding: .5em;
  float: left;
  border: 1px solid #dadada;
}
.promoCode input:active, .promoCode input:focus {
  outline: 0;
}
.promoCode a.btn {
  float: left;
  width: 15%;
  padding: .75em 0;
  border-radius: 0 1em 1em 0;
  text-align: center;
  border: 1px solid #9bca42;
}
.promoCode a.btn:hover {
  border: 1px solid #f7a600;
  background: #f7a600;
}

.btn:link, .btn:visited {
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
  letter-spacing: -.015em;
  font-size: 1em;
  padding: 1em 3em;
  color: #fff;
  background: #9bca42;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.btn:after {
  content: "\276f";
  padding: .5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.btn:hover, .btn:focus, .btn:active {
  background: #f7a600;
}
.btn:hover:after, .btn:focus:after, .btn:active:after {
  right: -10px;
}
.promoCode .btn {
  font-size: .85em;
  paddding: .5em 2em;
}

/* TOTAL AND CHECKOUT  */
.subtotal {
  float: right;
  width: 45%;
}
.subtotal button {
   text-decoration: none;
font-family: 'Kanit', sans-serif;
padding: 1em 3em;
color: #fff;
background: #9bca42;
font-weight: bold;
border-radius: 50px;
text-align: right;
}
 }

.subtotal .totalRow {
  padding: .5em;
  text-align: right;
}
.subtotal .totalRow.final {
  font-size: 1.25em;
  font-weight: bold;
}
.subtotal .totalRow span {
  display: inline-block;
  padding: 0 0 0 1em;
  text-align: right;
}
.subtotal .totalRow .label {
  font-family: 'Kanit', sans-serif;
  font-size: .85em;
  text-transform: uppercase;
  color: #777;
}
.subtotal .totalRow .value {
  letter-spacing: -.025em;
  width: 35%;
}

@media only screen and (max-width: 39.375em) {
  .wrap {
    width: 98%;
    padding: 2% 0;
  }

  .projTitle {
    font-size: 1.5em;
    padding: 10% 5%;
  }

  .heading {
    padding: 1em;
    font-size: 90%;
  }

  .cart .items .cartSection {
    width: 90%;
    display: block;
    float: left;
  }
  .cart .items .cartSection.qtyWrap {
    width: 10%;
    text-align: center;
    padding: .5em 0;
    float: right;
  }
  .cart .items .cartSection.qtyWrap:before {
    content: "QTY";
    display: block;
    font-family: 'Kanit', sans-serif;
    padding: .25em;
    font-size: .75em;
  }
  .cart .items .cartSection.prodTotal, .cart .items .cartSection.removeWrap {
    display: none;
  }
  .cart .items .cartSection .itemImg {
    width: 25%;
  }

  .promoCode, .subtotal {
    width: 100%;
  }

  a.btn.continue {
    width: 100%;
    text-align: center;
  }
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.wrap {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  padding: 3% 0;
  margin-bottom: 10px;
}

.projTitle {
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding: 1em 0;
  border-bottom: 1px solid #dadada;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.projTitle span {
  font-family: 'Kanit', sans-serif;
  font-weight: normal;
  font-style: italic;
  text-transform: lowercase;
  color: #777;
}

.heading {
  padding: 1em 0;
  border-bottom: 1px solid #9bca42;
}
.heading h1 {
  font-family: 'Kanit', sans-serif;
  font-size: 2em;
  float: left;
}
.heading a.continue:link, .heading a.continue:visited {
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
  letter-spacing: -.015em;
  font-size: .75em;
  padding: 1em;
  color: #fff;
  background: #9bca42;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.heading a.continue:after {
  content: "\276f";
  padding: .5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.heading a.continue:hover, .heading a.continue:focus, .heading a.continue:active {
  background: #f7a600;
}
.heading a.continue:hover:after, .heading a.continue:focus:after, .heading a.continue:active:after {
  right: -10px;
}

.tableHead {
  display: table;
  width: 100%;
  font-family: 'Kanit', sans-serif;
  font-size: .75em;
}
.tableHead li {
  display: table-cell;
  padding: 1em 0;
  text-align: center;
}
.tableHead li.prodHeader {
  text-align: left;
}

/*//////////////////////INPUT BOX////////////////////////*/
.result {
  width: 100%;
  height: 610px;
  max-width: 1024px;
  height: auto;
  background: #fff;
  margin: 20px auto 0 auto;
  font-family: 'Kanit', sans-serif;
}
.top {
  width: 1024px;
  height: 50px;
  margin: 30px auto 0 auto;;
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  color: #9bca42;
  float: left;
  /*background: red;*/

}

.under {
  width: 1024px;
  height: 490px;
  margin: 20px auto;
  text-align: center;
  font-weight: normal;;
  font-size: 20px;
  color: #9bca42;
  float: left;
  /*background: green;*/
}

.detail {
  width: 472px;
  height: 450px;
  float: left;
  text-align: left;
  margin: 17px;
  color: #f7a600;
  font-family: 'Kanit', sans-serif;
  /*background: yellow;*/
}

.order {
  width: 472px;
  height: 450px;
  float: left;
  text-align: left;
  margin: 17px;
  color: #f7a600;
  font-family: 'Kanit', sans-serif;
}

.boxdelivey input[type=text] {
    border: 1px solid #9bca42;
    border-radius: 20px;
    font-size: 14px;
    width: 80%;
    height: 32px;
    margin: 5px auto 0 auto;
    padding-left: 20px;
    font-family: 'Kanit', sans-serif;
}

.cartSection input {
  border: 1px solid #9bca42;
  border-radius: 20px;
  font-size: 16px;
  width: 70px;
  height: 25px;
  padding-left: 5px;
  font-family: 'Kanit', sans-serif;
}

textarea {
  border: 1px solid #9bca42;
  border-radius: 20px;
  font-size: 15px;
  width: 80%;
  height: 60px;
  margin: 5px auto 0 auto;
  padding-left: 20px;
  padding-top: 10px;
  font-family: 'Kanit', sans-serif;
  max-width: 80%;

}

.boxdelivey {
  width: 80%;
  margin-top: 20px;
}

.boxname {
  font-size: 14px;
  color: #9bca42;
  margin-left: 20px;
  margin-top: 10px;

}

.deletebtn {
  font-size: 25px;
  font-family: 'Kanit', sans-serif;
  color: #736F6E;
}

.deletebtn:hover {
  color: #f7a600;
}

.itemImg2 img {
  width: 120px;
  display: inline;
  padding-right: 1em;
  float: left;
  max-width: 120px;
}
